<div class="nav-signedin">
    <div class="nav-signedin-logo">
        <%= image_tag 'real ratings.svg', alt: 'Real Rating Logo', class: 'd-inline-block align-text-top', size: '200x40' %>
    </div>
    <div class="nav-signedin-options">
        <%= link_to instructor_path , class: "nav-signedin-link #{'active' if current_page?(instructor_path)}" do %>
            <i class="fa-solid fa-bars"></i> Dashboard
        <% end %>

        <%= link_to instructor_teams_path , class: "nav-signedin-link #{'active' if current_page?(instructor_teams_path)}" do %>
            <i class="fa-solid fa-users"></i> Teams
        <% end %>

        <%= link_to instructor_results_path , class: "nav-signedin-link #{'active' if current_page?(instructor_results_path)}" do %>
            <i class="fa-solid fa-chart-simple"></i> Results
        <% end %>
        
        <%= link_to instructor_settings_path , class: "nav-signedin-link #{'active' if current_page?(instructor_settings_path)}" do %>
            <i class="fa-solid fa-gear"></i> Settings
        <% end %>
        
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } , class: "nav-signedin-link" do %>
            <i class="fa-solid fa-right-from-bracket"></i> Sign Out
        <% end %>
    </div>
</div>